@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

/* common styles */
* {
  margin: 0;
}

.display-flex {
  display: flex;
}

.menu {
  display: none;
}

.btn-primary {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  color: white;
  padding: 12px 16px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 100px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 120px;
}

.section-title {
  font-size: 3.5rem;
  font-weight: 800;
}

.paragraph {
  color: rgba(255, 255, 255, 0.8);
  padding-top: 24px;
  padding-bottom: 24px;
}

.text-center {
  text-align: center;
}

.center-align {
  align-items: center;
}

.gap {
  gap: 8px;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.brand {
  font-size: 2.4rem;
}

.gradient-text {
  background: linear-gradient(
    to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-clip: text;
  color: transparent;
}

body {
  background-color: #1a0b2e;
}

.nav-item {
  list-style: none;
  margin-right: 34px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.banner {
  background:
    url(../images/microphone.png), url(../images/hero-circle.png),
    url(../images/hero-bg.png);
  height: 800px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    center center,
    center center,
    center center;
}

.banner-description {
  padding-top: 600px;
  justify-items: center;
}

.btn-subscribe {
  background-color: transparent;
  color: white;
  padding: 12px 16px;
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid #00ff88;
  border-radius: 100px;
  transition: all 0.2s ease;
}

.btn-subscribe:hover {
  background-color: rgba(0, 0, 100, 0.71);
}

.about-cards {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
  justify-items: center;
}

.about-section {
  text-align: center;
  padding-bottom: 50px;
}

.numbers {
  font-size: 3rem;
  font-weight: 800;
  color: rgba(0, 255, 136, 1);
}

.third-section {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.first-grid,
.second-grid,
.third-grid,
.fourth-grid,
.fifth-grid {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}

.first-grid {
  grid-row: span 2;
  align-content: center;
}

.second-grid {
  grid-column: span 2;
}

.third-grid {
  grid-column: span 2;
}

.fourth-grid {
  grid-column: span 2;
}

.grid-title {
  padding-top: 16px;
  padding-bottom: 16x;
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px 0 50px;
}

.feature-card {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 24px 24px 24px 24px;
}

.feature-description {
  padding: 24px;
}

.iframe {
  border-radius: 24px 24px 0 0;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.time {
  color: rgba(0, 255, 136, 1);
  font-size: 1.5rem;
  font-weight: 600;
}

.host-details {
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  gap: 30px;
  border-radius: 40px;
  align-items: center;
  margin-top: 50px;
}

.host-name {
  font-size: 1.8rem;
  font-weight: 700;
}

.social-media {
  border: 1px solid rgba(83, 60, 114, 1);
  padding: 10px;
  border-radius: 50px;
}

footer {
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 100px;
  height: 400px;
}

.footer-details{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.footer-brand{
  font-size: 4rem;
}

.footer-social-media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.social-media-name{
    font-weight: 500;
}

@media screen and (max-width: 576px) {
  .nav-links,
  .btn-nav,
  .break-point {
    display: none;
  }

  .menu {
    display: block;
  }

  .navbar {
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
  }

  .banner {
    background-size: 90px, 250px, cover;
    height: 100%;
  }

  .banner-description {
    padding-top: 550px;
    padding-bottom: 50px;
    text-align: center;
  }

  .about-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .third-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .feature-cards {
    grid-template-columns: 1fr;
  }

  .host-details {
    flex-direction: column;
    text-align: center;
  }

  footer{
    height: 560px;
  }

  .footer-social-media {
  grid-template-columns: repeat(2, 1fr);
}
}